<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Cliente/src/br/edu/ifpb/tsi/pd/ClienteWeb.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.edu.ifpb.tsi.pd.ClienteWeb"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Cliente"/>
</launchConfiguration>
